
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/EngineeringChallenge.iml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/.name
.idea/compiler.xml
backend/.env
